html,
body {
  font-family: 'Montserrat';
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.pad-10 {
  padding: 10px;
}
.pad-20 {
  padding: 20px;
}
.pad-30 {
  padding: 30px;
}
.mar-top-10 {
  padding-top: 10px;
}
div .mar-0 {
  margin: 0px;
}

.w-80 {
  width: 80%;
}
.gap-30 {
  gap: 30px;
}
.container {
  width: 1250px;
  margin: 0px auto;
  padding: 1px;
}
.row {
  display: flex;
  width: 100%;
  margin: 0px auto;
  gap: 25px;
}
.col {
  flex: 1 1 auto;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 32%;
}
.col-6 {
  flex: 0 0 49%;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.fill-height {
  height: 100%;
}
.fill-width {
  width: 100%;
  height: auto;
}
.label {
  font-family: 'Montserrat';
  font-size: 15px;
  display: block;
  margin: 10px 0px;
  font-weight: 500px;
}
.input-text {
  box-shadow: inset 0px 0px 5px 0px #0003;
  display: block;
  font-family: 'Montserrat';
  font-size: 15px;
  border: 1px solid #666;
  border-radius: 7px;
  line-height: 15px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.input-text:hover,
.input-text:focus {
  outline: 0;
  border-color: #09e;
  color: #09e;
}
.input-text.error {
  color: red;
  border-color: red;
}
.input-textarea {
  box-shadow: inset 0px 0px 5px 0px #0003;
  display: block;
  font-family: 'Montserrat';
  font-size: 15px;
  border: 1px solid #666;
  border-radius: 7px;
  line-height: 15px;
  box-sizing: border-box;
  padding: 10px;
  line-height: 15px;
  height: 120px;
  width: 100%;
  color: #666;
}
.input-textarea:hover,
.input-textarea:focus {
  outline: 0;
  border-color: #09e;
  color: #09e;
}
.input-textarea.error {
  color: red;
  border-color: red;
}
.card {
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px #0003;
  border-radius: 15px;
}
.button {
  font-family: 'Montserrat';
  border: 1px solid #09e;
  color: #fff;
  background-color: #09e;
  border-radius: 7px;
  line-height: 15px;
  padding: 10px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 10px 0px;
}
#site {
  height: 100%;
}
#header {
  display: block;
  background-color: #104;
  position: fixed;
  z-index: 1000;
  width: 100%;
}
.wrapper {
  position: relative;
}
.logo-link {
  flex: 1 1 auto;
}
.logo {
  height: 30px;
  width: auto;
  display: block;
}
.menu,
.menu-itens {
  flex: 1 1 auto;
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
.menu-item {
  display: block;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
}
.menu-item a,
.menu-item a:link,
.menu-item a:visited,
.menu-item a:active {
  color: #fff;
  text-decoration: none;
}

#home {
  width: 100%;
  height: 100%;
  background-color: #104;
  display: block;
}
.title {
  font-size: 40px;
  line-height: 50px;
}
.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

#portifolio {
  padding: 80px 0px;
}
.section-title {
  font-size: 24px;
  text-transform: uppercase;
  margin: 40px 0px;
  text-align: center;
}

#servicos {
  padding: 80px 0px;
  background-color: #104;
}
#servicos .section-title {
  color: #fff;
}
.big-icon {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 15px;
  background-color: #09e;
  padding: 1px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.big-icon img {
  display: block;
  width: 40px;
  height: auto;
}
.service-title {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin: 5px 0px 15px;
}
.unstyled-list {
  padding: 0px;
  list-style: none;
}
.unstyled-list li {
  font-size: 18px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}

#blog {
  padding: 80px;
}

#blog a {
  text-decoration: none;
  color: #104;
}
#blog a:hover {
  opacity: 0.8;
}
.blog-image {
  width: 100%;
  height: auto;
}
#contato {
  background-color: #dff;
  padding: 80px;
}
#contactMessage {
  display: block;
  font-size: 12px;
  padding: 1px;
  width: 100%;
  margin: 15px 0px;
}

#contactMessage .error {
  color: red;
}

#contactMessage .success {
  color: green;
}

#footer {
  display: block;
  background-color: #104;
  color: #fff;
  padding: 20px 0px;
}
#footer h3 {
  padding: 0px 10px;
  margin: 0px 0px 25px;
}
.footer-logo {
  height: 40px;
  width: auto;
}
.footer-logo img {
  height: 100%;
  width: auto;
}
#footer ul {
  padding: 0px;
  list-style: none;
}
#footer ul li {
  display: block;
  margin: 0px;
}

#footer ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  display: inline-block;
}
#footer ul li a:hover {
  background-color: #fff1;
}
