html,
body,
* {
  font-family: 'Lato', sans-serif;
}
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.link,
.link:visited,
.link:active {
  color: #777;
}
.link:hover {
  opacity: 0.8;
}

.v-field--focused .v-field__outline {
  color: #0bf !important;
}

.v-data-table-date {
  width: 150px;
}
.v-data-table-title {
  width: auto;
}
.v-data-table-status {
  width: 120px;
}
.v-data-table-url {
  width: 220px;
}
