html,
body,
* {
  font-family: 'Lato', sans-serif;
}
html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
.link,
.link:visited,
.link:active {
  color: #777;
}
.link:hover {
  opacity: 0.8;
}

.v-field--focused .v-field__outline {
  color: #0bf !important;
}

.v-data-table-date {
  width: 150px;
}
.v-data-table-title {
  width: auto;
}
.v-data-table-status {
  width: 120px;
}
.v-data-table-url {
  width: 220px;
}
.user-menu {
  width: 240px;
}

#app {
  overflow: auto;
}
.v-layout {
  height: 100%;
}
.mainpage {
  padding: 10px;
  box-sizing: border-box;
  height: 100%;
}
.maincard {
  height: 100%;
  box-sizing: border-box;
  padding: 30px;
}
.overflow-hidden {
  overflow: hidden;
  height: 100%;
}

.mainpage .v-row {
  margin: 0px;
  padding: 0px;
}
.mainpage .v-col {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}
.flex-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.flex-column #toolbar {
  flex: 0 1 43px;
}
.flex-column #editor {
  flex: 1 1 0%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}

#editor .ql-editor p {
  margin: 10px 0px;
}
